<html>
    <head>
        {% load static %}

        <link rel="stylesheet" href="{% static 'firn/ang/ang/dist/ang/styles.ef46db3751d8e999.css' %}"></head>
    </head>
    <body>

        <app-root>
                
        </app-root>
        
        <script src="{% static 'firn/ang/ang/dist/ang/runtime.6dbd5b8cb9cfa392.js' %}" type="module"></script>
        <script src="{% static 'firn/ang/ang/dist/ang/polyfills.0f15e4a1de5caded.js' %}" type="module"></script>
        <script src="{% static 'firn/ang/ang/dist/ang/main.ddd6f0ef87d714e7.js' %}" type="module"></script>

    </body>
</html>