{% extends 'firn/layout.html' %}
{% block title %}
    Carrinho
{% endblock %}
{% block content %}
    {% load static %}
    {% load firn_extras %}
    <h3 class="text-second sub-titulo">Carrinho</h3>
    {% if carr %}
    <form method="POST">
    <div class="bd">
    <div class="packet side inline">
        {% csrf_token %}
            <table class="tabler">
            {% for item in itens %}
            <tr class="item-second">
                <td class="item-second-bl" style="width:120px; height:140px">
                    <img src="{{item.imagem.url}}" class="img-second">
                </td>
                <td class="item-second-bl sider">
                    <p class="text-second">{{item.nome}}</p>
                    <div class="rodape-card text-second">
                        <p>R$: {{ item.preco }}</p>
                    </div>
                </td>
                <td class="item-second-bl sider" >
                    <p>Quantidade:</p>
                    <input name="id{{item.id}}" type="hidden" value="{{item.id}}">
                    <input name="qtd{{item.id}}" class="sider-input" type="number" value="{{cart|get_item:item.id|get_item:"quantidade"}}" readonly>
                </td>
            </tr>
            {% endfor %}
            </table>
            </form>
        </div>

    
        <div class="packet side inline">

            <h3 class="sub-titulo">Dados De Pagamento</h3>
            <p>Total: R${{itens|get_item_sum_all:cart}}</p>
            
            <input class="button-qtd" type="submit" value="Realizar Compra">
        </div>
    </div>
    </form>

    {% else %}
        <p>Você não possui itens no seu carrinho ainda!</p>
    {% endif %}
{% endblock %}