{% extends 'firn/layout.html' %}
{% block title %}
    Carrinho
{% endblock %}
{% block content %}
    {% load static %}
    {% load firn_extras %}
    <h3 class="text-second sub-titulo">Carrinho</h3>
    <div class="bd" >
    <div class="packet side inline">
        <form>
            <table class="tabler">
            {% for item in itens %}
            <tr class="item-second">
                <td class="item-second-bl" style="width:120px; height:140px">
                    <img src="{{item.imagem.url}}" class="img-second">
                </td>
                <td class="item-second-bl sider">
                    <p class="text-second">{{item.nome}}</p>
                    <div class="rodape-card text-second">
                        <p>R$: {{ item.preco }}</p>
                    </div>
                </td>
                <td class="item-second-bl sider" >
                    <p>Quantidade:</p> 
                    <input class="sider-input" type='number' value="{{cart|get_item:item.id|get_item:"quantidade"}}" Disabled>
                </td>
            </tr>
            {% endfor %}
            </table>
            </form>
        </div>

    
        <div class="packet inline">
            aa
        </div>
    </div>
{% endblock %}