<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Bem-Vindo A Fermacia</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'firn/styles/main.css' %}"/>
    {% load static %}
    <link rel="icon" type="image/icon type" href="{% static 'firn/img/logo.ico'%}">
</head>

<body>
<div class="navbar">
    {% load static %}
    <img class="navbar-item logo" src="{% static 'firn/img/logo.png'%}">
    <a href="{% url 'home' %}" class="navbar-brand">Home</a>
    <a href="{% url 'loja' %}" class="navbar-item">Loja</a>
    <a href="{% url 'sobre' %}" class="navbar-item">Sobre</a>
</div>

<div class="body-content">

    {% load static %}
    <img src="{% static 'firn/img/lab.jpg'%}" class="img-main">

    <div class='packet'>
    
        <h3 class="text-main sub-titulo">Serviços para você</h3>

        <p class='text-main'>Aqui na Fermacia faremos o melhor para lhe proporcionar uma experiência que prioriza suas necessidades,
            a entrega personalizada para você.
        </p>

    </div>
    
    <div class="packet">
        <h3 class="text-main sub-titulo">Higiene Pessoal</h3>

        {% for item in itensHP%}

            <div class="card">
                <p>{{ item.nome }}</p>
                {% if item.imagem%}
                <img class="img-card" src="{{item.imagem.url}}">
                {% else%}
                <img class="img-card" src="{% static 'firn/img/logo.png'%}">
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <hr/>
    <footer>
        <p class="text-rodape">&copy; 2022</p>
    </footer>
</div>
</body>
</html>