<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Bem-Vindo A Fermacia</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'firn/styles/main.css' %}"/>
    <link rel="icon" type="image/icon type" href="{% static 'firn/img/logo.ico'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/be5f423282.js" crossorigin="anonymous"></script>

</head>

<body>

    {% if result %}

        {% if result == "sucesso" %}
            <dialog id="dialog-result" class="dialg success" open="">
                <div class="dialg-div">
                    <p style="padding:2px"><b>Sucesso!</b> item adicionado ao carrinho com sucesso!</p>  
                </div>
        {% else %}
        <dialog id="dialog-result" class="dialg fail" open="">
            <div class="dialg-div">
                <p style="padding:2px"><b>Erro!</b> ocorreu algum problema ao adicionar ao carrinho!</p>  
            </div>
        {% endif %}
            
            <div class="dialg-div">
                <button id="hide" class="dialg-btn" onClick="fechar()">X</button> 
            </div>
        </dialog>

    {% endif %}
    <div class="navbar">
        <img class="navbar-item logo" src="{% static 'firn/img/logo.png'%}">
        <a href="{% url 'home' %}" class="navbar-brand">Home</a>
        <a href="{% url 'loja' %}" class="navbar-item">Loja</a>
        <a href="{% url 'sobre' %}" class="navbar-item">Sobre</a>
        {{result}}
    </div>

<div class="body-content">

    <img src="{% static 'firn/img/lab.jpg'%}" class="img-main">

    <div class='packet'>
    
        <h3 class="text-main sub-titulo">Serviços para você</h3>

        <p class='text-main'>Aqui na Fermacia faremos o melhor para lhe proporcionar uma experiência que prioriza suas necessidades,
            a entrega personalizada para você.
        </p>

    </div>

    {% for k,v in itens %}
    <div class="packet">
        <h3 class="text-main sub-titulo">{{ v.0.categoria }}</h3>

        {% for item in v %}

            <div class="card">
                <p>{{item}}</p>
                {% if item.imagem%}
                <img class="img-card" src="{{item.imagem.url}}">
                {% else%}
                <img class="img-card" src="{% static 'firn/img/logo.png'%}">
                {% endif %}
                <p>R$: {{ item.preco }}</p>
                <div class="rodape-card">
                    {% if item.av %}
                        {% for a in '12345'|make_list %}
                                {% if a|add:"0" <= item.av %}
                                    <span class="fa fa-star checked"></span>
                                {% else%}
                                    <span class="fa fa-star"></span>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                          
                            {{ form.non_field_errors }}
                          
                            {{ form.source.errors }}
                            {{ form.source }}

                            {{ form.quantidade.errors }}
                            {% if item.quantidade %}
                                <input type="hidden" name="id" id="id_id" value="{{ item.id }}" required>
                                <input class="item-card input-qtd" type="number" name="quantidade" id="id_quantidade" min="1" max="{{item.quantidade}}" required>
                                <button class="item-card button-qtd" type="submit"><i class="fa-solid fa-cart-shopping"></i></button>
                            {% else %}
                                <button class="item-card button-qtd" type="submit" Disabled>Esgotado</button>
                            {% endif %}
                        </form>
                </div>
            </div>
            <a></a>
        {% endfor %}
    </div>
    {% endfor %}

    <hr/>
    <footer>
        <p class="text-rodape">&copy; 2022</p>
    </footer>
    <script src="{% static 'firn/dig.js' %}"></script>
</div>
</body>
</html>