<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'firn/css/bootstrap.min.css' %}">
    <script src="{% static 'firn/js/bootstrap.min.js' %}"></script> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'firn/styles/main.css' %}"/>
    <link rel="icon" type="image/icon type" href="{% static 'firn/img/logo.ico'%}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/be5f423282.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <img class="navbar-item logo" src="{% static 'firn/img/logo.png'%}">
        <a href="{% url 'home' %}" class="navbar-brand">Home</a>
        <a href="{% url 'loja' %}" class="navbar-item">Loja</a>
        <a href="{% url 'sobre' %}" class="navbar-item">Sobre</a>
        <div class="navbar-lat navbar-item">
            <a href="{% url 'cart'%}" class="">
                <i class="fa-solid fa-cart-shopping">
                    <span class="notif">{{carr}}</span>
                </i>
            </a>
        </div>
    </div>
    
<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p class="text-rodape">&copy; 2022</p>
    </footer>
    <script src="{% static 'firn/dig.js' %}"></script>
</div>

</body>
</html>