{% extends 'firn/layout.html' %}
{% block title %}
    Carrinho
{% endblock %}
{% block content %}
    {% load static %}
        <h3 class="text-second sub-titulo">Carrinho</h3>
        <div class="packet side">
            <form>
            {%for item in itens%}
            <div class="item-second">
                <div class="item-second-bl" style="width:120px">
                    <img src="{{item.imagem.url}}" class="img-second">
                </div>
                <div class="item-second-bl">
                    <p class="text-main">{{item.nome}}</p>
                    <div class="rodape-card">
                        <p>R$: {{ item.preco }}</p>
                    </div>
                </div>
                <div class="item-second-bl">
                    <p>Quantidade: {{cart[item.id].quantidade}}</p>
                </div>
            </div>
            {% endfor %}
            </form>
        </div>
{% endblock %}